<%= render 'layouts/errors', obj: @event %>

<div class="container">
  <h1>イベント詳細</h1>
  <%= form_with model: @event, local: true, html: { class: 'form' } do |f| %>
    <div class="form-group">
      <h2>イベント名</h2>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <h2>開催日時</h2>
      <%= f.date_field :hold_date, class: 'form-control' %>
    </div>
    <div class="form-group">
      <h2>開催場所</h2>
      <%= f.text_field :hold_place, class: 'form-control' %>
    </div>
    <div class="form-group">
      <h2>サムネイル画像</h2>
      <%= f.file_field :event_image, class: 'form-control-file' %>
    </div>

    <div class="text-center">
      <%= f.submit "登録する", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>