<div class="container">
  <h1 class="mb-4">イベント詳細</h1>

  <!-- イベント編集ボタン -->
  <div class="text-right">
    <% if user_signed_in? %>
      <%= link_to 'イベントを編集', edit_event_path(@event), class: "btn btn-primary" %>
    <% end %>

    <% if @event&.created_by == current_user&.id %>
      <%= link_to 'イベントを削除', event_path(@event), method: :delete, data: { confirm: 'イベントを削除しますか？' },class: "btn btn-danger" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>イベント名</h2>
      <p><%= @event.name %></p>
      <h2>開催日時</h2>
      <p><%= @event.hold_date %></p>
      <h2>開催場所</h2>
      <p><%= @event.hold_place %></p>
      <h2>最終編集者</h2>
      <p><%= @last_changer.name %></p>
    </div>

    <div class="col-md-6">
      <%= image_tag @event.get_event_image(300, 300), class: "img-thumbnail mx-auto d-block" %>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'このイベントの記録を行う', new_event_post_path(@event.id), method: :get, class: "btn btn-primary text-light" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="mb-4">
          <% first_image = post.post_images.first %><!--最初に選択した写真を選択-->
          <%= link_to event_post_path(event_id: post.event_id, id: post.id),class: 'nav-link text-light' do%>
            <div><%= image_tag first_image.variant(resize: '100x100').processed %></div>
          <% end %>
          <div>投稿ユーザー: <%= link_to "#{post.user.name}", user_path(id: post.user_id) %></div>
        </div>
      </div>
    <% end %>
  </div>

</div>