<h1>イベント詳細</h1>
  <h2>イベント名</h2>
    <%= @event.name%>
  <h2>開催日時</h2>
    <%= @event.hold_date %>
  <h2>開催場所</h2>
    <%= @event.hold_place %>
  <h2>サムネイル画像</h2>
    <%= image_tag @event.get_event_image(200,200) %>

  <%= link_to new_event_post_path(@event.id), method: :get, class:"btn btn-primary text-light" do %>
      このイベントの記録を行う
  <% end %>

  <% @posts.each do |post| %>
    <div><%= post.text %></div>
    <% first_image = post.post_images.first %><!--最初に選択した写真を選択-->
    <%= link_to event_post_path(event_id: post.event_id, id: post.id),class: 'nav-link text-light' do%>
      <div><%= image_tag first_image.variant(resize: '100x100') %></div>
    <% end %>
  <% end %>