<%= render 'layouts/errors', obj: @post %>

<div class="container">
  <h1>投稿ページ</h1>
  <p>このページでは、投稿文にハッシュタグを追加したり、複数の画像を投稿することができます。</p>
  <%= form_with(model: Post.new, url: event_posts_path, method: :post, local: true) do |f| %>
    <div class="form-group">
      <h2>投稿文</h2>
      <%= f.text_area :text, class: 'form-control', rows: 5 %>
    </div>

    <div class="form-group">
      <h2>投稿画像</h2>
      <%= f.file_field :post_images, multiple: true, class: 'form-control-file' %>
    </div>

    <%= f.submit "投稿", class: 'btn btn-primary' %>
  <% end %>
</div>
