
  <% if @post.post_images.attached? %>
    <% @post.post_images.each do |image| %>
        <%= image_tag image.variant(resize:'500x500') %>
    <% end %>
  <% end %>

  <div id="favorite_btn_<%= @post.id %>">
    <%= render "public/favorites/btn", post: @post %>
  </div>
  <td>コメント数： <%= @post.post_comments.count %></td>
  <%= render "public/post_comments/index", post: @post %>
  <%= render "public/post_comments/form", post: @post,comment: @comment %>

  <%= @post.text %>
  <% @post.hashtags.each do |hashtag| %>
    <%= link_to "##{hashtag.name}", event_post_hashtag_path(event_id: @post.event_id, post_id: @post.id, name: hashtag.name) %>
  <% end %>
